<%= render 'layouts/titulo' %>

<div class="row text-end mb-3">
    <div class="col">
      <%= link_to "Crear expediente", new_expediente_path, class:"btn btn-primary" %>
    </div>
</div>

<div class="row">
  <div class="col mx-3 px-3 py-3 bg-light">

    <table id="myDataTable" class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <td>Código</td>
          <td>Referencia</td>
          <td>Cantidad de fichas</td>
          <td>Acciones</td>
        </tr>
      </thead>

      <tbody>
        <% @expedientes.each do |r| %>
          <tr>
            <td>
              <%= r.codigo%>
            </td>
            <td>
              <%= truncate(r.referencia, :length => 30) %>
            </td>
            <td>
              <%= r.fichas.count%>
            </td>
            <td>
              <%= link_to "Ver", expediente_path(r.id), class:"btn btn-success btn-sm mx-2" %>
              <%= link_to "Editar", edit_expediente_path(r.id), class:"btn btn-secondary btn-sm mx-2" %>
              <%= link_to "Eliminar", 
                expediente_path(r.id), 
                data: {confirm: '¿Está seguro de eliminar este registro?'}, 
                method: :delete, 
                class:"btn btn-danger btn-sm mx-2" 
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>