<%= render 'layouts/titulo' %>

<div class="row">
  <div class="col">
    <h6 class="my-4">
      <% if @registro.new_record? %>
        Suministre los datos requeridos.
      <% else %>
        Modifique los datos que necesite.
      <% end %>
    </h6>

    <%= form_with(model: @registro, local: true) do |f| %>
      <div class="form-group text-start my-3">
        <label for="referencia" class="form-label fw-bold">Referencia:</label>
        <%= f.text_field :referencia, class: "form-control", required: true %>
        <span class="form-text text-danger">
          <%= @registro.errors[:referencia].any? ? @registro.errors[:referencia].to_s[/\w([^"]*)/] : "" %>
        </span>
      </div>

      <div class="form-group text-start my-3">
        <label for="descripcion" class="form-label fw-bold">Descripción:</label>
        <%= f.text_field :descripcion, class: "form-control" %>
        <span class="form-text text-danger">
          <%= @registro.errors[:descripcion].any? ? @registro.errors[:descripcion].to_s[/\w([^"]*)/] : "" %>
        </span>
      </div>

      <div class="form-group text-start my-3">
        <label for="archivo" class="form-label fw-bold">Archivo:</label>
        <%= f.file_field :archivo, class: "form-control" %>
        <span class="form-text text-danger">
          <%= @registro.errors[:archivo].any? ? @registro.errors[:archivo].to_s[/\w([^"]*)/] : "" %>
        </span>
      </div>

      <div class="text-center my-5">
        <%= link_to "Regresar al Listado", expedientes_path, class: "btn btn-default btn-md" %>
        <%= f.submit "Guardar", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>