<%= render 'layouts/titulo' %>

<div class="row mb-3">
    <div class="col">
      <%= label_tag :codigo, 'Referencia:', class: '' %>
      <%= text_field_tag :codigo, @registro.referencia, disabled: true %>
    </div>

    <div class="col">
      <%= label_tag :codigo, 'Descripción:', class: '' %>
      <%= text_field_tag :codigo, @registro.descripcion, disabled: true %>
    </div>

    <div class="col">
      <%= label_tag :codigo, 'Archivo:', class: '' %>
      <br/>
      <%= link_to "Descargar", @registro.archivo.url, class:"btn btn-outline-info btn-sm mx-2", target: '_blank' %>

    </div>
</div>

<div class="row">
    <div class="col my-3">
      <%= link_to "Listar", expedientes_path, class:"btn btn-success btn-sm mx-2" %>
      <%= link_to "Crear", new_expediente_path, class:"btn btn-primary btn-sm mx-2" %>
      <%= link_to "Editar", edit_expediente_path(@registro.id), class:"btn btn-secondary btn-sm mx-2" %>
      <%= link_to "Eliminar", 
        expediente_path(@registro.id), 
        data: {confirm: '¿Está seguro de eliminar este registro?'}, 
        method: :delete, 
        class:"btn btn-danger btn-sm mx-2" 
      %>
    </div>
</div>

<hr/>

<div class="row">
  <div class="col mx-3 px-3 py-3 bg-light">
    <h3>FICHAS</h3>

    <%= render 'fichas/new' %>
    <%= render 'fichas/index' %>
  </div>
</div>

