<table id="myDataTable" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <td>Fecha inicio</td>
      <td>Referencia</td>
      <td>Descripción</td>
      <td>Archivo</td>
      <td>Acciones</td>
    </tr>
  </thead>

  <tbody>
    <% @registro.fichas.each do |r| %>
      <tr>
        <td>
          <%= r.fecha_inicio.to_formatted_s(:dia_mes_ano) %>
        </td>
        <td>
          <%= truncate(r.referencia, :length => 30) %>
        </td>
        <td>
          <%= r.descripcion %>
        </td>
        <td>
          <%= link_to "Descargar", r.archivo.url, class:"btn btn-outline-info btn-sm mx-2", target: '_blank' %>
        </td>
        <td>
          <%= link_to "Eliminar", 
            ficha_path(r.id), 
            data: {confirm: '¿Está seguro de eliminar este registro?'}, 
            method: :delete, 
            class:"btn btn-danger btn-sm mx-2" 
          %>
        </td>
      </tr>
    <% end %>
  </tbody> 
</table>
