<%= form_with(model: @registroFicha, local: true) do |f| %>
  <div class="row text-start mt-4 pb-2">
    <div class="col">
        <%= f.hidden_field :expediente_id, :value => @registro.id %>
        <label for="fecha_inicio" class="form-label fw-bold">Fecha inicio:</label>
        <%= f.text_field :fecha_inicio, class: "form-control datetimepicker-input", required: true, "data-target": "#ficha_fecha_inicio", "data-toggle": "datetimepicker" %>
        <span class="form-text text-danger">
          <%= @registroFicha.errors[:fecha_inicio].any? ? @registroFicha.errors[:fecha_inicio].to_s[/\w([^"]*)/] : "" %>
        </span>
    </div>

    <div class="col">
        <label for="referencia" class="form-label fw-bold">Referencia:</label>
        <%= f.text_field :referencia, class: "form-control", required: true %>
        <span class="form-text text-danger">
          <%= @registroFicha.errors[:referencia].any? ? @registroFicha.errors[:referencia].to_s[/\w([^"]*)/] : "" %>
        </span>
    </div>
  </div>

  <div class="row text-start">
    <div class="col">
        <label for="descripcion" class="form-label fw-bold">Descripción:</label>
        <%= f.text_field :descripcion, class: "form-control" %>
        <span class="form-text text-danger">
          <%= @registroFicha.errors[:descripcion].any? ? @registroFicha.errors[:descripcion].to_s[/\w([^"]*)/] : "" %>
        </span>
    </div>

    <div class="col">
        <label for="archivo" class="form-label fw-bold">Archivo:</label>
        <%= f.file_field :archivo, class: "form-control" %>
        <span class="form-text text-danger">
          <%= @registroFicha.errors[:archivo].any? ? @registroFicha.errors[:archivo].to_s[/\w([^"]*)/] : "" %>
        </span>
    </div>
  </div>
  
  <div class="row text-center my-4 pb-3">
    <div class="col">
      <%= f.submit "Agregar ficha", class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>