<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UBT L&C</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Expedientes', expedientes_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_usuario_session_path, method: :delete, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>