<!DOCTYPE html>
<html>
  <head>
    <title>PruebaUBT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid vh-100">
      <% if usuario_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>

      <div class="row text-center h-90">
          <div class="col mt-2">
            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>

            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>

            <%= yield %>
          </div>
      </div>

    </div>
  </body>
</html>
